@charset "UTF-8";

html {
  background-color: #30D5C8;
}
html head audio {
  autoplay();
}
html h1{
  color: red;
  text-shadow:1px 1px 0 #000, -1px -1px 0 #000,
              -1px 1px 0 #000, 1px -1px 0 #000,
              0px 1px 0 #000,  0-1px 0 #000,
              -1px 0 0 #000, 1px 0 0 #000;
}
html h2 {
  color: rgb(6, 250, 39);
  text-shadow:1px 1px 0 #000, -1px -1px 0 #000,
              -1px 1px 0 #000, 1px -1px 0 #000,
              0px 1px 0 #000,  0-1px 0 #000,
              -1px 0 0 #000, 1px 0 0 #000;
}
body{
  color: rgb(0, 0, 0);
}
